///////////////////////////////
// Main content with 3 columns
///////////////////////////////
.main-content{
	position:relative;

	.left-main-col{
		float: none;
		margin-right: 300px;
		width: auto;
	}

	.static-side-bar{
		position: absolute;
		background-color: orange;
		top: 0;
		right: 0px;
		width: 300px;
		z-index: 10000;
	}
}
