///////////////////////////
// Shared rules
///////////////////////////

.category{
	font-family: 'ProximaNovaReg', 'Helvetica Neue', 'HelveticaNeue', Helvetica, sans-serif;
	font-size: 12px;
	color: @linkColor;
	text-transform: uppercase;
}

.bottom-dots{
	background: url('/images/dotted-line.png') 0 100% repeat-x;
}